* {
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
}

header {
    background-color: #85CDF5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

header a{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    font-size: 1.875rem;  
    position: relative;  
}

header a:hover::after {
    width: 100%;
}

header a::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #333333;
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    transition: width 0.5s;
}

/*inicio da main*/
main{
    padding: 40px;
    box-sizing: border-box;
}
h1{
    font-size: 30px;
}
input, textarea{
    width: 100%;
    font-size: medium;
    background-color: rgb(242, 241, 241);
    border: 1px solid black;
    font-weight: 700
}

.main-section{
    width: 70%;
    margin: auto;
    text-align: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    padding: 40px;
    box-sizing: border-box;
}

.form-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
}
.nome-idade-form{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.nome-idade-form > div {
    display: block;

    text-align: left;
}
.nome-div{
    width: 70%;
}
.anos-div{
    width: 30%;
}

.link-foto{

    text-align: left;
}
.descricao{
    text-align: left;
}
.descr-tamanho{
    height: 300px;
}
label{
    font-weight: 700;
}
button{
    width: 80px;
    margin: auto;
    background-color: #2c5680;
    color: white;
    padding: 5px;
    border: 0px;
}

footer {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border-image: linear-gradient(to right,#deb959, #2c5680) 5;
    border-top: 5px solid;
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15rem;

}

.footer_esq {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

iframe{
    height: 160px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.infos_contatos {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap:1rem;
    color: #FFFFFF;
}

#contatos_end {
    list-style-image: url(assets/cont_end.svg);
}

#contatos_tel {
    list-style-image: url(assets/cont_tel.svg);
}

#contatos_email {
    list-style-image: url(assets/cont_email.svg);
}

.infos_botao {
    width: 150px;
    height: 30px;
    background-color: #DEB959;
    color: #333333;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_dir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

