* {
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
}

header {
    background-color: #85CDF5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

header a{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    font-size: 1.875rem;  
    position: relative;  
}

header a:hover::after {
    width: 100%;
}

header a::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #333333;
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    transition: width 0.5s;
}
.content{
    padding: 35px;
}
.cabecalho_adocao img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
}
.cabecalho_adocao h2{
    font-size: 60px;
}
form{
    display: flex;
    flex-wrap: wrap;
}
.container_label_input{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.container_label_input:nth-child(1){
    width: 80%;
}
.container_label_input input[type=text]{
    width: 90%;
}
.container_label_input input[type=email]{
    width: 950px;
}
label{
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

input{
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 1.2rem;
}
.btn{
    background-color: #2C5680;
    width:180px;
    padding: 1rem 0;
    font-size: 30px;
    font-weight: bold;
    color:white;
    border: none;
    margin: 0 auto;
}

footer {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-image: linear-gradient(to right,#deb959, #2c5680) 5;
    border-top: 5px solid;
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15rem;

}

.footer_esq {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

iframe{
    height: 160px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.infos_contatos {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap:1rem;
    color: #FFFFFF;
}

#contatos_end {
    list-style-image: url(assets/cont_end.svg);
}

#contatos_tel {
    list-style-image: url(assets/cont_tel.svg);
}

#contatos_email {
    list-style-image: url(assets/cont_email.svg);
}

.infos_botao {
    width: 150px;
    height: 30px;
    background-color: #DEB959;
    color: #333333;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_dir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}