* {
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
}

header {
    background-color: #85CDF5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

header a{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    font-size: 1.875rem;  
    position: relative;  
}

header a:hover::after {
    width: 100%;
}

header a::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #333333;
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    transition: width 0.5s;
}
.formulario{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    
}
.procura{
    width: 508px;  
    margin-right: 5px; 
    height: 27px;
    font-size: 1.2rem;
}
.btn{
    background-color: #DEB959;
    width:100px;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Darker Grotesque';
    color:white;
    border: none;
}
.areacheckbox{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 628px;
}
.areacheckbox label{
    font-size: 24px;
}
.areacheckbox input{
    width: 20px;
    margin-right: 10px;
}
.lobinhos_container{
    margin-top: 55px;
}
.lista_lobinhos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item_lobinhos{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 35px 0;
}
.item_lobinhos:nth-child(even){
    flex-direction: row-reverse;
}
.imagem_lobinho{
    margin: 0 20px;
    z-index: 99;
    box-shadow: -2.5rem -2.5rem #2C5680;
}


.descricao_lobinho{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.titulo_botao_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo_botao_container h2{
    margin: 0;
}

.subtitulo_idade{
    font-weight: 100;
    margin: 0px;
}

.descricao_lobinho{
    font-size: 1.2rem;
}
footer {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border-image: linear-gradient(to right,#deb959, #2c5680) 5;
    border-top: 5px solid;
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15rem;

}

.footer_esq {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

iframe{
    height: 160px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.infos_contatos {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap:1rem;
    color: #FFFFFF;
}

#contatos_end {
    list-style-image: url(assets/cont_end.svg);
}

#contatos_tel {
    list-style-image: url(assets/cont_tel.svg);
}

#contatos_email {
    list-style-image: url(assets/cont_email.svg);
}

.infos_botao {
    width: 150px;
    height: 30px;
    background-color: #DEB959;
    color: #333333;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_dir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}