* {
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
}

header {
    background-color: #85CDF5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

header a{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    font-size: 1.875rem;  
    position: relative;  
}

header a:hover::after {
    width: 100%;
}

header a::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #333333;
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    transition: width 0.5s;
}


.container{
    padding: 15px 0;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}
.titlelobo{
    font-family: Roboto;
    text-align: center;
    padding: 35px 0;
    width: 100%;
}
.container_imagem_buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
}

.imagem_lobinho{
    margin: 0 20px;
    box-shadow: -2.5rem -2.5rem #2C5680;
    width: 70%;
}

.btn{
    background-color: #DEB959;
    width:30%;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Roboto';
    color:white;
    border: none;
    margin: 15px 35px;
}
.adotar{
    background-color: #7AAC3A;
}
.excluir{
    background-color: #DE5959;
}
.container_descricao{
    width: 40%;
}




.descricao_lobinho{
    width: 450px;
    font-size: 1.2rem;
}

footer {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    border-image: linear-gradient(to right,#deb959, #2c5680) 5;
    border-top: 5px solid;
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15rem;

}

.footer_esq {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

iframe{
    height: 160px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.infos_contatos {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap:1rem;
    color: #FFFFFF;
}

#contatos_end {
    list-style-image: url(assets/cont_end.svg);
}

#contatos_tel {
    list-style-image: url(assets/cont_tel.svg);
}

#contatos_email {
    list-style-image: url(assets/cont_email.svg);
}

.infos_botao {
    width: 150px;
    height: 30px;
    background-color: #DEB959;
    color: #333333;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_dir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}