* {
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
}

header {
    background-color: #85CDF5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

header a{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    font-size: 1.875rem;  
    position: relative;  
}

header a:hover::after {
    width: 100%;
}

header a::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #333333;
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    transition: width 0.5s;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #FFFFFF;
    background-image: url(assets/lobo_main.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem;
    text-align: center;

}

.main_titulo {
    font-size: 6rem;
    font-weight: 700;
}

.main_traco {
    width: 10rem;
    height: 5px;
    background-color: #FFFFFF;
}

.main_texto {
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.5rem;
    width: 65%;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C5680;
    padding: 3rem;
}

.sobre_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sobre_titulo {
    font-weight: 700;
    font-size: 3rem;
    color: #DEB959;
}

.sobre_texto {
    font-weight: 400;
    font-size: 1.5rem;
    color: #FFFFFF;
    line-height: 2.5rem;
    text-align: center;
}

.valores {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
}

.valores_titulo {
    color: #DEB959;
    font-weight: 700;
    font-size: 3rem;
}

.valores_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-flow: wrap;
}

.valores_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 195px;
    color: #FFFFFF;
}

.valores_imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 50%;
}

.valores_box_titulo {
    font-weight: 700;
    font-size: 2.125rem;
}

.valores_box_texto {
    font-weight: 400;
    font-size:1.625rem;
    line-height: 1.25rem;
    text-align: center;
}

.lobos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
}

.lobos_titulo {
    color: #DEB959;
    font-weight: 700;
    font-size: 3rem;
}

.lobo_container_esq {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.lobo_esq {
    width: 28rem;
    box-shadow: -2.5rem -2.5rem #2C5680;
    border: 4px solid #333333;
}

.lobo_esq_info {
    width: 28rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lobo_esq_nome {
    font-weight: 700;
    font-size: 2.25rem;
}

.lobo_esq_idade {
    font-weight: 300;
    font-size: 1.25rem;
}

.lobo_esq_desc {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.25rem;
}

.lobo_container_dir {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}

.lobo_dir {
    width: 28rem;
    box-shadow: 2.5rem -2.5rem #2C5680;
    border: 4px solid #333333;
}

.lobo_dir_info {
    width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.lobo_dir_nome {
    font-weight: 700;
    font-size: 2.25rem;
}

.lobo_dir_idade {
    font-weight: 300;
    font-size: 1.25rem;
}

.lobo_dir_desc {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.25rem;
    text-align: right;
}

footer {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
    border-image: linear-gradient(to right,#deb959, #2c5680) 5;
    border-top: 5px solid;
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15rem;

}

.footer_esq {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

iframe{
    height: 160px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.infos_contatos {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap:1rem;
    color: #FFFFFF;
}

#contatos_end {
    list-style-image: url(assets/cont_end.svg);
}

#contatos_tel {
    list-style-image: url(assets/cont_tel.svg);
}

#contatos_email {
    list-style-image: url(assets/cont_email.svg);
}

.infos_botao {
    width: 150px;
    height: 30px;
    background-color: #DEB959;
    color: #333333;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_dir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}